<h1>Step 3: Summary</h1>
<h3>Your Tesla {{ summary.description }}</h3>

<table>
  <tr>
    <td class="bold">{{ summary.config?.description }}</td>
    <td>{{ summary.config?.price | currency : "USD" }}</td>
  </tr>
  <tr>
    <td>
      Range: {{ summary.config?.range }} miles - Max speed:
      {{ summary.config?.speed }}
    </td>
  </tr>
  <tr>
    <td class="bold">{{ summary.color?.description }} Color</td>
    <td>{{ summary.color?.price | currency : "USD" }}</td>
  </tr>
  <tr *ngIf="summary.towHitch">
    <td class="bold">Tow Hitch Package</td>
    <td>{{ "1000" | currency : "USD" }}</td>
  </tr>
  <tr *ngIf="summary.yoke">
    <td class="bold">Yoke Package</td>
    <td>{{ "1000" | currency : "USD" }}</td>
  </tr>
</table>
<hr />

<table>
  <tr>
    <td class="bold">TOTAL COST:</td>
    <td>
      {{
        (summary.config?.price ?? 0) +
          (summary.color?.price ?? 0) +
          (summary.towHitch ? 1000 : 0) +
          (summary.yoke ? 1000 : 0) | currency : "USD"
      }}
    </td>
  </tr>
</table>

<hr />
